@import "./../../variables.scss";

.share {
  position: relative;
  bottom: -265px;
  display: inline-block;

  &__title {
    font-family: $open-sans;
    font-size: 20px;
    color: $ice;
    letter-spacing: 0;
    margin-bottom: 15px;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    color: $ice;
    font-size: 0;
    font-family: FontAwesome;
    cursor: pointer;

    &--fb:after {
      content: '\f082';
      display: inline-block;
      font-size: 36px;
    }

    &--twitter:after{
      content:'\f081';
      display: inline-block;
      font-size: 36px;
    }

    &--vk:after{
      content:'\f189';
      display: inline-block;
      font-size: 36px;
    }

  }
}