.question {
  margin: 40px;
}

.question__title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #1C3144;
  margin-top: 70px;
  margin-bottom: 90px;
  line-height: 1.5;
}

.question__title p {
  margin: 10px 0;
}

.question__input {
  position: absolute;
  left: -100vw;
}

.question__input:checked + label {
  background: #F5F8F7;
}

.question__input:checked + label:before {
  background: #1C3144;
  box-shadow: inset 0 0 0 3px #F5F8F7;
}

.question__answer {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #1C3144;
  width: 100%;
  border: 1px solid #D2D2D2;
  border-radius: 15px;
  min-height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.question__answer__correct {
  background: #6BBF59;
}

.question__answer__wrong {
  background: #F30C16;
}

.question__answer:before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 3px solid #1C3144;
  border-radius: 50%;
  margin: 0 20px;
}

.question__button {
  background: #1C3144;
  border-radius: 15px;
  width: 280px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #D2EFEB;
  margin-top: 30px;
  margin-bottom: 70px;
  float: right;
}

.question__button:hover {
  background: #172838;
}
.progress {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  right: 0;
  left: 0;
  position: absolute;
  bottom: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress__circle {
  transform: rotate(-90deg);
}

.progress__value {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #1C3144;
  position: absolute;
}
.quiz {
  width: 320px;
  height: 380px;
  background: white;
  box-shadow: 2px 2px 16px 0 #D2D2D2;
  padding: 55px 20px 0 20px;
  position: relative;
}

.quiz__toggle-button {
  font-family: FontAwesome;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #1C3144;
  z-index: 2;
}

.quiz__toggle-button:before {
  content: "\f0c9";
  display: inline-block;
}

.quiz__toggle-button--open {
  color: #D2EFEB;
}

.quiz__toggle-button--open:before {
  content: "\f00d";
  display: inline-block;
}

.quiz__title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #1C3144;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 10px;
}

.quiz__questions-count {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #1C3144;
  margin-bottom: 20px;
}

.quiz__description {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #1C3144;
  letter-spacing: 0;
}

.quiz__button {
  background: #F30C16;
  border-radius: 15px;
  width: 280px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #D2EFEB;
  letter-spacing: 0;
  position: absolute;
  bottom: 55px;
  cursor: pointer;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 50px;
}

.quiz__button--v-centered {
  bottom: 165px;
}

.quiz__button:hover {
  background: #E80D0C;
}

.quiz__overlay {
  display: none;
  background: rgba(28, 49, 68, 0.95);
  box-shadow: 2px 2px 16px 0 #D2D2D2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.quiz__overlay--open {
  display: block;
}
.quizes {
  margin: 0 40px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, 320px);
}

.quizes__title {
  font-family: "Open Sans", sans-serif;
  color: #1C3144;
  font-size: 64px;
  margin: 40px;
}

@media screen and (max-width: 320px) {
  .quizes {
    margin: 0 20px;
  }
}
.share {
  position: relative;
  bottom: -265px;
  display: inline-block;
}

.share__title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #D2EFEB;
  letter-spacing: 0;
  margin-bottom: 15px;
}

.share__icons {
  display: flex;
  justify-content: space-between;
}

.share__icon {
  color: #D2EFEB;
  font-size: 36px;
}