@import "./../../variables.scss";

.quizes {
  margin: 0 $margin-big;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: center;

  &__title {
    font-family: $open-sans;
    color: $dark-blue;
    font-size: 64px;
    margin:40px;
  }
}

@media screen and (max-width: 320px){
  .quizes{
    margin: 0 $margin-small;
    justify-content: flex-start;
  }
}