@import "./../../variables.scss";

.progress {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  right: 0;
  left: 0;
  position: absolute;
  bottom: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__circle {
    transform: rotate(-90deg);
  }

  &__filled-circle {
    animation: progress 2s;
  }

  &__value {
    font-family: $open-sans;
    font-weight: bold;
    font-size: 40px;
    color: $dark-blue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;

  }
}

@keyframes progress {
  from {
    stroke-dashoffset: 471;
  }
}