$open-sans: 'Open Sans', sans-serif;
$dark-blue: #1C3144;
$dark-blue-hover: #172838;
$red: #F30C16;
$red-hover: #E80D0C;
$red-wrong: #f52c35;
$ice: #D2EFEB;
$green: #6BBF59;
$margin-big:40px;
$margin-small:20px;